*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url(../images/pattern-curve.svg) no-repeat;
  background-position: bottom left;
  background-size: 80%;
  overflow-x: hidden;

  @include breakpoint-up(medium) {
    background-size: 60%;
  }
}

img {
  width: 100%;
  display: block;
}

body::after{
  position:absolute;
  width:0; height:0;
  overflow: hidden;
  z-index:-1;
  content: url('../images/image-kate.jpg') url('../images/image-john.jpg') url('../images/image-tanya.jpg');   // load images
}